.square{
    width: 128px;
    height: 128px;
    display: inline-block;
    margin-right: -4px;
    margin-bottom: -4px;
  }
  .red{
    background-color:red;
  }
  .orange{
    background-color:orange;
  }
  .yellow{
    background-color:yellow;
  }
  .lime{
    background-color:lime;
  }
  .green{
    background-color:green;
  }
  .turquoise{
    background-color:turquoise;
  }
  .blue{
    background-color:blue;
  }
  .purple{
    background-color:purple;
  }
  .magenta{
    background-color:magenta;
  }